.title {
    text-align: center;
    font-family: fantasy;
    color: green;
    font-size: 100px;
    background-color: rgb(255, 230, 1);
}
.paragraph {
    position: relative; left:80px ;
    font-family: monospace;
    font-size: 20px;
    color: black;
    margin-block-end: 30px;
    display: inline;
}
.list {
    position: relative; left:80px ;
    font-family: initial;
    font-size: 25px;
    color: black;
}